:root {
  --elevation-1: 0 5px 10px rgb(0 0 0 / 70%);
  --color-red-700: #a32c2c;
}

* {
  margin: var(--size-0);
  padding: var(--size-0);
  font-family: var(--font-sans);
  font-weight: var(--font-light);
}

body {
  color: var(--color-black);
  background-image: url("img/bg.jpg");
}

.logo {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: var(--size-80);
}

.menu {
  margin: 0 auto;
  padding: var(--size-5);
  max-width: var(--width-xl);
  display: flex;
  flex-direction: column;
  gap: var(--size-5);
}

@media (min-width: 70em) {
  .menu {
    max-width: none;
    margin: 0 auto;
    width: var(--width-5xl);
    display: flex;
    flex-direction: row;
    gap: var(--size-8);
  }
  .col {
    transform: rotate(-1.5deg);
    gap: var(--size-3);
  }
  .col:nth-child(odd) {
    transform: rotate(1.5deg);
  }
}

.category-name {
  font-weight: var(--font-black);
  color: var(--color-red-700);
  font-size: var(--scale-3);
}

.category-description {
  margin-bottom: 20px;
  line-height: var(--leading-sm);
}

.card-group {
  display: flex;
  flex-direction: column;
  gap: var(--size-3);
}

.card {
  display: flex;
  gap: var(--size-6);
}

.card-img {
  width: var(--size-20);
  height: var(--size-20);
  border: 4px solid white;
  border-radius: var(--radius-lg);
  box-shadow: var(--elevation-1);
}

.card-overlay {
  position: fixed;
  left: 0px;
  top: 0px;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-title {
  color: var(--color-orange-700);
  font-weight: var(--font-bold);
  font-size: var(--scale-2);
}

.card-description {
  font-size: var(--scale-00);
}

.card-price {
  color: var(--color-green-700);
  font-weight: var(--font-bold);
  text-align: right;
}

.card-price::before {
  content: "$";
}
